
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<p>
  <strong>Title:</strong>
  <iframe src="<%= @article.embedlink %>" scrolling="no" frameborder="0" width="640" height="480" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
</p>


<p>
  <strong>Text:</strong>
  <%= @article.posterlink %>
</p>
